@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");

body {
    padding: 0;
    margin: 0;
    background-color: #DFF8EB;
    
    font-family: Montserrat, sans-serif;
  }
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .left {
    left: 0;
    background-color: #011638;
  }
  
  .right {
    right: 0;
    background-color: #DFF8EB;
  }
  
  .centered {
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .centered h1{
    color: #fc6d6d;
  }

  
  
  
  .centered img {
    width: 300px;
    border-radius: 50%;
  } 
  
  .content {
  max-width: 500px;
  margin: auto;
}

form {border: 3px ;
  width: 100%;}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 10px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  display: inline-block;
  
}

.save {
  border-radius: 6px;
  width: 30%;
  
}

.cancel {
  background-color: red;
  border-radius: 6px;
  width: 30%;
}

button:hover {
  opacity: 0.8;
}

.createbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f4c836;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.topnav {
  background-color: #011638;
  overflow: hidden;
  position: absolute; 
  top: 0; 
  width: 100%; 
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 20%;
}
.topnav p {
  float: left;
  
  text-align: center;
  
  text-decoration: none;
  font-size: 17px;
  width: 20%;
}

/*.topnav left  {
  width: 100%; 
  text-align: center;
}*/

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: rgba(135, 206, 235);
  color: white;
}
.topnav-admin {
  background-color: #011638;
  overflow: hidden;
  position: fixed; 
  top: 0; 
  width: 100%; 
}

.topnav-admin a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 30%;
  float: right;
  
}

.topnav-admin p {
  float: left;
  
  text-align: center;
  
  text-decoration: none;
  font-size: 17px;
  width: 20%;
}


.topnav-admin a:hover {
  background-color: #ddd;
  color: black;
}

.topnav-a a.active {
  background-color: rgba(135, 206, 235);
  color: white;
}
td, th {
  text-align: left;
  border: 1px solid #ddd;
  padding: 15px
}


  table { 
  border-collapse: collapse;
  margin: 50px auto;
  width: 60%;

  border-radius: 20px;
  
}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: rgba(135, 206, 235);
  color: indigo;
  height: 50px;
  
}


/*
.collapsible {

  background-color: darkcyan;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}*/

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #011638;
  color: white;
  text-align: center;
  overflow-x: hidden;
  
}
.sidenav {
  margin-top: -490px;
}
.sidebar {
  list-style-type: none;
  z-index: 1;
  opacity: 0.85;
  padding: 0;
  width: 15%;
  background: #011638;
  position: fixed;
  height: 88%;
  overflow-x: hidden;
  padding-top: 20px;
  top: 0;
  left: 0;
  
  position: fixed;
}


.sidebar li a {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  margin: 5px 0 0 0;
}

.sidebar li p {
  display: block;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
  margin: 5px 0 0 0;
}

fieldset.radiogroup  { 
  margin: 0; 
  padding: 0; 
  margin: 50px auto;
  width: 60%;
 

  border-radius: 20px;
   
} 


fieldset.radiogroup legend { 
  margin: 0; 
  padding: 0; 
  font-weight: bold; 
  margin-left: 30px; 
  font-size: 100%; 
  color: black; 
} 


ul.radio  { 
  margin: 0; 
  padding: 0; 
  margin-left: 20px; 
  list-style: none; 
} 

ul.radio li { 
  border: 1px transparent solid; 
} 

ul.radio li:hover, 
ul.radio li.focus  { 
  background-color: rgba(135, 206, 235); 
  border: 1px gray solid; 
  width: 10em; 
} 

.sidebar li a.active {
  background-color: rgba(135, 206, 235);
  color: white;
}

profimage {
  
  border-radius: 50%;
}

imgfooter{
  width:2px;
  height:2px;
}



